fastapi==0.104.1
uvicorn==0.23.2
pydantic==2.4.2
requests==2.31.0
lxml==4.9.3
python-multipart==0.0.6 
groq==0.22.0
dotenv
langchain_community
langchain_text_splitters
feedparser
numpy
sentence_transformers
sqlite3
